.header{
    background: #ffffff;
}
.header__inner{
    margin: 0 auto;
    padding: 5px 15px;
    max-width: 100%;
}
.header__logo{
    color: rgb(255, 182, 99);
    text-decoration: none;
    font-size: 18px;
    font-style: italic;
}