.detail-content{
    max-width: 100%;
    padding-bottom:20px;
    background:rgb(243, 240, 238);
}

.detail__heading{
    width: 70%;
    margin: 0 auto;
    padding: 40px 0 0 0;
}
.back-link{
    margin: 10px;
    color: rgb(30, 124, 255);
    font-size: 15px;
    text-decoration: none;

}
.current-fruits{
    color: #313131;
    font-size: 15px;
}

.update-form{
    margin: 0 auto;
}

.update-form__top{
    display: flex;
    width: 70%;
    padding: 0 40px;
    gap: 20px;
    margin: 0 auto 20px;
}
.update-form__group-image{
    width: 60%;
    margin: 20px 0 0 40px;
    
}
.update-form__group-image img{
    width: 100%;
    align-items: center;
}
.update-form__group-info{
    width: 70%;
    padding: 10px;
}
.update-form__group-bottom{
    display: flex;
    margin: 0 auto;
    width: 60%;
}
.update-form__group-description{
    width: 100%;
    margin: 10px;
}
.form__group-item{
    margin: 20px 0 0 0;
    color: #313131;
}

.update-form__item-input{
    width: 100%;
    padding: 8px;
    margin: 6px 0;
    border: 1px solid rgb(231, 228, 225);
    border-radius: 3px;
}
.update-form__item-textarea{
    width: 100%;
    padding:10px;
    margin:2px 0;
    border: 1px solid rgb(231, 228, 225);
    border-radius: 3px;
}

.season-group input[type="checkbox"] {
    display: none;
}
.season-label{
    margin-right: 10px;
    color:#313131;
}
.custom-checkbox{
    position: relative;
    margin-left: 8px;
    padding-left: 16px; 
    cursor: pointer;
}
.custom-checkbox::before{
    content: ""; 
    position: absolute; 
    left: 0; 
    top: 5px; 
    width: 16px; 
    height: 16px; 
    border: 2px solid #313131;
    border-radius: 50%;
}
input[type="checkbox"]:checked + .custom-checkbox::before {
    background: #313131; 
    border-color: #313131; 
}
input[type="checkbox"]:checked + .custom-checkbox::after {
    content: ""; 
    position: absolute; 
    left: 6px;
    top: 7px; 
    width: 3px; 
    height: 9px; 
    border-right: 2px solid #fff; 
    border-bottom: 2px solid #fff; transform: rotate(45deg); 
}

.form__error{
    margin: 0 14px;
    color:red;
    font-size: 12px;
}

.form__button{
    display:flex;
    justify-content: center;
}
.form__button-back{
    display:inline-block;
    text-decoration: none;
    padding:10px 80px;
    margin:30px 15px;
    background:rgb(207, 207, 207);
    color:#313131;
    font-size:14px;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    cursor: pointer;
}
.form__button-update{
    padding:10px 80px;
    margin:30px 15px;
    background:rgb(255, 216, 62);
    color:#313131;
    font-size:14px;
    border: none;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    cursor:pointer;
}

.form__button-delete{
    background: red;
    border: none;
    cursor: pointer;
}